*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
    text-wrap: auto;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    width: 80vw;
    height: 100vh;
}
.header-container {
    display: flex;
    align-items: center;
    padding: 3rem;
}

.portfolio-img {
    background-image: url(../assets/headshot.png);
    background-size: cover;
    background-position: center;
    width: clamp(250px, 20vw, 500px);
    height: clamp(250px, 20vw, 500px);
    position: relative;
    transform: scale(1.05);
}
.portfolio-name {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: white;
    font-weight: 600;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.link-logo {
    width: clamp(20px, 1vw, 28px);
    height: clamp(20px, 1vw, 28px);
}
a {
    text-decoration: none;
}
.about {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

header {
    position: relative;
    overflow: hidden;
}

header::before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: aquamarine;
    transform: skewY(-9deg);
    transform-origin: bottom left;
    z-index: -1;
}
.links-div {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
}
.project-showcase {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.project-card {
    display: grid;
    grid-template-rows: 3fr 1fr;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}
.project-cover {
    display: grid;
    place-items: center;
}

.project-info {
    display: grid;
    width: 100%;
    gap: 1rem;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        'title link'
        'desc desc';
    margin-bottom: 2rem;
}
.project-title {
    grid-area: title;
    font-weight: 600;
}

.project-links {
    grid-area: link;
}

.project-desc {
    grid-area: desc;
}

.project-card:nth-child(1) .project-cover {
    background-color: #ff6b6b;
}
.project-card:nth-child(2) .project-cover {
    background-color: #4ecdc4;
}
.project-card:nth-child(3) .project-cover {
    background-color: #ffe66d;
}
.project-card:nth-child(4) .project-cover {
    background-color: #1a535c;
}
.project-card:nth-child(5) .project-cover {
    background-color: #f7fff7;
}
.project-card:nth-child(6) .project-cover {
    background-color: #ff9f1c;
}
.projects {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}
